<!DOCTYPE html>
<html lang="en">
    <%-include("./inc/head")%>
</head>
<body>
    <ul>
        <% for(var i=0; i<datas.length; i++) {%>
           <li><%= datas[i]["data"] %></li>
        <% } %>
    </ul>
</body>
</html>